<ion-view>

  <ion-header-bar class="bar-positive">
    <h1 class="title">...</h1>
    <div class="buttons">
   	  <button class="button button-icon ion-eye" ng-click="popover.show($event)"></button>
      <button class="button button-icon ion-android-person" ng-click="popover.show($event)"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-refresher pulling-text="Tirer pour actualiser..." on-refresh="doRefresh()"></ion-refresher>
    <div class="list">
      
    </div>
  </ion-content>
</ion-view>
