<html ng-app>
<head>
<title>Panneau publicitaire vols</title>
<style type="text/css">
.title {
	background-image: url(../img/vert.png);
	font-size: 400%;
	font-family: Arial;
	font-weight: bold;
	color: white;
	text-indent: 10%;

}

.destination {	
	background-image: url(../img/gris_clair.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.prixDest {
	background-image: url(../img/gris_fonce.png);
	font-size: 600%;
	font-family: Arial;
	font-weight: bold;
	color: white;
	text-align: center;

}

.descriptionDest {
	background-image: url(../img/gris_fonce.png);
	font-size: 200%;
	font-family: Arial;
	font-weight: bold;
	color: white;
	text-align: center;

}

.hotels {
	background-image: url(../img/gris_fonce.png);	
}

.hotel {
	background-image: url(../img/gris_tres_fonce.png);		
	font-size: 150%;
	font-family: Arial;
	font-weight: bold;
	color: white;
}

img {
}

</style>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

<script type="text/javascript">
	    function PubController($scope, $http, $interval, $location, $timeout)
	    {
	    	$scope.vols = [];
	    	$scope.indexCurrentVol = 0;
	    	$scope.param = $location.search();
	    	
	    	$scope.imageParis = "../img/Paris1.jpg";
	    	$scope.imageGrenade = "../img/Grenade1.jpg";
	    	$scope.imageRome = "../img/rome.jpeg";
	    	$scope.imageCopenhague = "../img/copenhague.jpg";
	    	$scope.imageLondres = "../img/Londres.jpg";
	    	$scope.imageNY = "../img/NY1.jpg";
	    	$scope.imageKingston = "../img/Grenade2.jpg";
	    	$scope.imageDefault = "../img/Grenade1.jpg";
	    	
	    	$scope.imagesVille = [];
	    	$scope.hotels = [];
	    	
	    	$scope.hotelsImg = [];
	    	
	    	$scope.hotelsImgParis = [];
	    	$scope.hotelsImgParis.push("../img/hotel/Paris1.jpg");
	    	$scope.hotelsImgParis.push("../img/hotel/Paris2.jpg");
	    	$scope.hotelsImgParis.push("../img/hotel/Paris3.jpg");
	    	$scope.hotelsImgParis.push("../img/hotel/Paris4.jpg");
	    	
	    	$scope.hotelsImgLondres = [];
	    	$scope.hotelsImgLondres.push("../img/hotel/London-1.png");
	    	$scope.hotelsImgLondres.push("../img/hotel/London-2.png");
	    	$scope.hotelsImgLondres.push("../img/hotel/London-3.jpg");
	    	$scope.hotelsImgLondres.push("../img/hotel/NY-41.jpg");
	    		    	
	    	$scope.hotelsImgKingston = [];
	    	$scope.hotelsImgKingston.push("../img/hotel/grenada-05.jpg");
	    	$scope.hotelsImgKingston.push("../img/hotel/hotel-veranda.jpg");
	    	$scope.hotelsImgKingston.push("../img/hotel/maurice_hotel.jpg");
	    	$scope.hotelsImgKingston.push("../img/hotel/Reethi-45.jpg");
	    	
	    	$scope.hotelsImgGrenade = [];
	    	$scope.hotelsImgGrenade.push("../img/hotel/Seb-176.jpg");
	    	$scope.hotelsImgGrenade.push("../img/hotel/Grenada-10.jpg");
	    	$scope.hotelsImgGrenade.push("../img/hotel/hotel-2.jpg");
	    	$scope.hotelsImgGrenade.push("../img/hotel/NY-3.jpg");
	    	
	    	$scope.hotelsImgNY = [];
	    	$scope.hotelsImgNY.push("../img/hotel/NY-3.jpg");
	    	$scope.hotelsImgNY.push("../img/hotel/NY-4.jpg");
	    	$scope.hotelsImgNY.push("../img/hotel/NY-71.jpg");
	    	$scope.hotelsImgNY.push("../img/hotel/NY-7.jpg");
	    	
	    	$scope.hotelsImgCopenhague = [];
	    	$scope.hotelsImgCopenhague.push("../img/hotel/Copenhague1.jpg");
	    	$scope.hotelsImgCopenhague.push("../img/hotel/Copenhague2.jpg");
	    	$scope.hotelsImgCopenhague.push("../img/hotel/Copenhague3.jpg");
	    	$scope.hotelsImgCopenhague.push("../img/hotel/Copenhague4.jpg");
	    	
	    	$scope.hotelsImgRome = [];
	    	$scope.hotelsImgRome.push("../img/hotel/Rome1.jpg");
	    	$scope.hotelsImgRome.push("../img/hotel/Rome2.jpg");
	    	$scope.hotelsImgRome.push("../img/hotel/Rome3.jpg");
	    	$scope.hotelsImgRome.push("../img/hotel/Rome4.jpg");
	    	
	    	
			$scope.hotelsParis = [];
			$scope.hotelsLondres = [];
			$scope.hotelsKingston = [];
			$scope.hotelsGrenade = [];
			$scope.hotelsNY = [];
			$scope.hotelsCopenhague = [];
			$scope.hotelsRome = [];
	    	
	    	var promise = $http.get('http://localhost:8080/Aeroport/hotels.htm').then(function (response) {
	            console.log(response);
	            var hotels = response.data;
	            
	            for(var i=0; i<hotels.length; i++)
            	{
	            	var hotel;
            		if(hotels[i].villeHotel == "Paris")
            		{
            			hotel = hotels[i];
            			hotel.img = $scope.hotelsImgParis[$scope.hotelsParis.length];
            			$scope.hotelsParis.push(hotel);
            		}
            		else if(hotels[i].villeHotel == "Londres")
            		{
            			hotel = hotels[i];
            			hotel.img = $scope.hotelsImgLondres[$scope.hotelsLondres.length];
            			$scope.hotelsLondres.push(hotel);
            		}
            		else if(hotels[i].villeHotel == "Kingston")
            		{
            			hotel = hotels[i];
            			hotel.img = $scope.hotelsImgKingston[$scope.hotelsKingston.length];
            			$scope.hotelsKingston.push(hotel);
            		}
            		else if(hotels[i].villeHotel == "Grenade")
            		{
            			hotel = hotels[i];
            			hotel.img = $scope.hotelsImgGrenade[$scope.hotelsGrenade.length];
            			$scope.hotelsGrenade.push(hotel);
            		}
            		else if(hotels[i].villeHotel == "New-York")
            		{
            			hotel = hotels[i];
            			hotel.img = $scope.hotelsImgNY[$scope.hotelsNY.length];
            			$scope.hotelsNY.push(hotel);
            		}
            		else if(hotels[i].villeHotel == "Copenhague")
            		{
            			hotel = hotels[i];
            			hotel.img = $scope.hotelsImgCopenhague[$scope.hotelsCopenhague.length];
            			$scope.hotelsCopenhague.push(hotel);
            		}
            		else if(hotels[i].villeHotel == "Rome")
            		{
            			hotel = hotels[i];
            			hotel.img = $scope.hotelsImgRome[$scope.hotelsRome.length];
            			$scope.hotelsRome.push(hotel);
            		}
            	}
	            
	          });
	    	
	    	
	    	var promise = $http.get('http://localhost:8080/Aeroport/vols.htm').then(function (response) {
	            console.log(response);
	            $scope.vols = response.data;
	            
	            if($scope.param.idVol != null)
    			{
    				for(var i=0; i<$scope.vols.length; i++)
   					{
   						if($scope.vols[i].id == $scope.param.idVol)
 						{
   							$scope.indexCurrentVol = i;
 						}
   					}
    			}
	            
	            for(var i=0; i<$scope.vols.length; i++)
				{
		            if($scope.vols[i].villeArrivee == "Paris")
		            {	
		            	$scope.hotels.push($scope.hotelsParis);
		            	$scope.imagesVille.push($scope.imageParis);
		            }
		            else if($scope.vols[i].villeArrivee == "Rome")
		            {	
		            	$scope.hotels.push($scope.hotelsRome);
		            	$scope.imagesVille.push($scope.imageRome);
		            }
		            else if($scope.vols[i].villeArrivee == "Copenhague")
		            {	
		            	$scope.hotels.push($scope.hotelsCopenhague);
		            	$scope.imagesVille.push($scope.imageCopenhague);
		            }
					else if($scope.vols[i].villeArrivee == "Grenade")
					{
						$scope.hotels.push($scope.hotelsGrenade);
						$scope.imagesVille.push($scope.imageGrenade);
					}
					else if($scope.vols[i].villeArrivee == "Londres")
					{
						$scope.hotels.push($scope.hotelsLondres);
						$scope.imagesVille.push($scope.imageLondres);
					}
					else if($scope.vols[i].villeArrivee == "New-York")
					{
						$scope.hotels.push($scope.hotelsNY);
						$scope.imagesVille.push($scope.imageNY);
					}
					else if($scope.vols[i].villeArrivee == "Kingston")
					{
						$scope.hotels.push($scope.hotelsKingston);
						$scope.imagesVille.push($scope.imageKingston);
					}
					else
					{
						$scope.hotels.push($scope.hotelsParis);
						$scope.imagesVille.push($scope.imageParis);
					}
		            
				}
	          });
	    	
	    	$interval(function(){
	    		
	    		if($scope.param.idVol == null){
		    		if($scope.indexCurrentVol >= $scope.vols.length-1)
		    		{
		    			$scope.indexCurrentVol = 0;
		    		}
		    		else
	    			{
		    			$scope.indexCurrentVol++;
	    			}
	    		}
    		},3000);
	    }
    </script>


</head>
<body ng-controller="PubController" id="main" width="100%" height="100%">
	<table width="100%" height="100%">
		<tr class="title" width="100%" height="10%">
			<td>{{vols[indexCurrentVol].villeArrivee}}</td>
		</tr>

		<tr class="destination" width="100%" height="50%">
			<td>
				<table width="100%" height="100%">
					<tr>
						<td>
							<table width="100%" height="100%">
								<tr class="prixDest" height="50%">
									<td class="price">{{vols[indexCurrentVol].prix}}€</td>
								</tr>
								<tr class="descriptionDest" height="50%">
									<td class="begin">Départ de {{vols[indexCurrentVol].villeDepart}}<br>le
										{{vols[indexCurrentVol].dateDepart}}
									</td>
								</tr>
							</table>
						</td>
						<td width="60%" BACKGROUND="{{imagesVille[indexCurrentVol]}}">
						</td>
					</tr>
				</table>
			</td>
		</tr>

		<tr class="hotels" width="100%" height="40%">
			<td>
				<table>
					<tr>
						<td ng-repeat="hotel in hotels[indexCurrentVol]">
							<img src={{hotel.img}} width="100%"></img>
							<table width="100%" height="100%" class="hotel">
								<tr>
									<td text-align="left" width="80%">{{hotel.nom}}</td>
									<td text-align="right" width="20%">+{{hotel.prix}}€</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>

</html>