<ion-view>

	<ion-header-bar class="bar-positive">
		<!-- Delete button -->
	    <button class="button button-icon icon ion-minus-circled" ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
	    
	    <!-- New Task button-->
	    <button class="button button-icon icon ion-plus-circled" ng-click="newVol()"></button>
	    
		<h1 class="title">Gestion des vols</h1>
		<div class="buttons">
			<button class="button button-icon ion-eye" ng-click="showPub()"></button>
			<button class="button button-icon ion-android-person" ng-click="popover.show($event)"></button>
		</div>
	</ion-header-bar>
	
	<ion-content scroll="true">
		<ion-refresher pulling-text="Tirer pour actualiser..." on-refresh="doRefresh()"></ion-refresher>
		<ion-list show-delete="data.showDelete" show-reorder="data.showReorder" show-option="date.showOption">
      		<ion-item ng-repeat="vol in vols" vol="vol" class="item-remove-animate">
	        	<b>{{vol.villeDepart}} - {{vol.villeArrivee}}</b> - {{vol.dateDepart}} - {{vol.prix}}€
	        	
	        	<ion-delete-button class="ion-minus-circled" ng-click="onVolDelete(vol)"></ion-delete-button><!-- delete -->
	        	<ion-option-button class="ion-edit" ng-click="editVol(vol)"></ion-option-button><!-- edit -->
	     	</ion-item>
	    </ion-list>
	</ion-content>
</ion-view>
