<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/aeroport</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="AeroportBean"/>
        <mapping class="HotelBean"/>
        <mapping class="PaysBean"/>
        <mapping class="PubliciteBean"/>
        <mapping class="UserBean"/>
        <mapping class="VilleBean"/>
        <mapping class="VolBean"/>
        <mapping class="AeroportBean"/>
        <mapping class="HotelBean"/>
        <mapping class="HotelHasPubliciteBean"/>
        <mapping class="PaysBean"/>
        <mapping class="PubliciteBean"/>
        <mapping class="PubliciteHasVolBean"/>
        <mapping class="UserBean"/>
        <mapping class="VilleBean"/>
        <mapping class="VolBean"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>